apiVersion: v1
kind: Secret
metadata:
  name: martin-deploy-2-ghcr
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
type: Opaque
stringData:
  .dockerconfigjson: |-
    {
      "auths": {
        "https://ghcr.io": {
          "username": "__GITHUB_USERNAME__",
          "password": "__GITHUB_PERSONAL_ACCESS_TOKEN__"
            // When creating the token:
            // * Select the `read:packages` scope to download container images and read their metadata.
            // * Select the `write:packages` scope to download and upload container images and read and write their metadata.
            // * Select the `delete:packages` scope to delete container images.
        }
      }
    }
