# This file is used to generate another file.
# When editing, run `Protect-Secret.ps1` to regenerate the output.
apiVersion: v1
kind: Secret
metadata:
  name: argo-workflows-webhook-clients
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
stringData:
  github: |
    type: github
    secret: "c9402b6481b54C14be784c6f9f7B29c!1"
    // The secret here is just a user-defined random string with high entropy.
    // See https://docs.github.com/en/webhooks-and-events/webhooks/securing-your-webhooks#setting-your-secret-token.
